 /* GENERALE */
body, html {
    overflow-x: hidden!important;
    background-color: #eee7e9;
}

h1 , h2 , h3 , h4 ,h5, .h1 , .h2 , .h3 , .h4 {
  font-family: 'Secular One', sans-serif;
}

*{
  font-family: 'Poppins', sans-serif;
    
}

:root{
    --main: #FFE505;
    --sec : #D9AB3A ;
    --sec-bg : #D4CED0;
    --third: #282D32;
    
}

.text-main{
    color: var(--main) !important;
}

.sec-bg{
  background-color: var(--sec-bg);
}

.bg-sec{
    background-color: var(--sec) ;
}

.bg-third{
  background-color: var(--third);
}

.vh-80{
  height: 90vh;
}
.vh-20{

  height: 30vh;
}

.vh-70{
    height: 80vh;
}

.vh-50{
  height: 50vh;
}
   

.logoMobile{
  height: 50vh;
}

/* MEDIA QUERY */

@media screen and (min-width:700px) {
  .accordion-custom{
      display: none;
  }
  .logoMobile{
    display: none;
  }
  .headerMobile{
    display: none;
  }
  
  }

@media screen and (max-width:699px) {
  .none{
      display: none;
  }
  .nav-link-accordion{
    font-size: large!important;
  }
  .sm-vh50{
      height: 50vh;
  }
  .bg-header{
    display: none;
  }
  .headerMobile{
    justify-content: center;
    height: 60vh;
  }
  
}

/* Scroll button */
.scroll-Button{
  height: 10vh;
  width: 10vh;
  position: fixed;
  bottom: 50px;
  right: 2%;
  z-index: 999;
  border-radius: 50%;
  animation: mymove 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  color: white;
  background-color: var(--main);
  border: 2px solid black;
  text-decoration: none!important;

}

.scroll-Button:hover{
  color:black ;
}

.hover-bg:hover{
  color: #CFCFCF;
}
.card-hover:hover{
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
}
.link-category{
  font-size: small!important;
}

 
/* Barra Di Ricerca */
#searchBar{
  position: fixed;
  right: 2%;
  z-index: 999;
  backdrop-filter: blur(10px);
  padding:0px;
  top: 30px;
}

.filter{
  filter: blur(2px);
}


  /* * Search button */ 
.searchBtn{
    height: 8vh;
    width: 8vh;
    position: fixed;
    top: 74px;
    right: 2%;
    z-index: 998;
    /* border-radius: 50%; */
    animation: mymove 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color:var(--main);
}

/* Barra categorie */
#categoryBar{
  background-color: #282D32;
}

#category:hover{
  border-bottom: 2px solid var(--main);
}

.bg-accordion{
  background-color: #282D32!important;
}


.lang:hover{
  transform: scale(1.2);
}

.nav-link{
  color: black  ;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: medium;
}

.nav-link:hover{
  color: var(--main) !important;
  /* transition: 0.4s; */
  cursor: pointer;
}

.nav-logs:hover{
  color: var(--main) !important;
  transition: 0.4s;
  cursor: pointer;
}

.logo{
  height: 60px;
}
.megafono{
  background-image: url("/logo/advertisement.png") ;
}
.btn-cerca{
  color: var(--main);
  
}
/* HEADER */
.bg-header{

    background-image: url("/media/slider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    
}

.border{
  border: 1px solid black!important;
}

.Header{
    position: relative;
    height: 100vh;
}
    
.btn-custom{
    height: 50px;
    width: 160px;
    border: 0px;
    background-color: var(--main);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}    
.btn-custom:hover{
  
    background-color:var(--sec-bg) ;
    border: 2px solid var(--main);
    transition: 0.3s;
}

.linea{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--main);
}

.logo-custom{
    color: white;
}
.box-custom{
    border-radius: 10px;
    background-color: var(--sec);
    box-shadow: 30px 30px 30px -30px black !important;
}


.btn-hover:hover{
    color: var(--main) !important;
}
.form-custom{
    border-radius: 10px;
}

/* CARD */
.card-link{
  color: black  ;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}

.card-hover:hover{
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
  backdrop-filter:drop-shadow(3px) ;
}
.img-hover:hover{
  transform: scale(1.4);
  transition: 0.3s;
  cursor: pointer;
}
 

  

  /* CATEGORIE */

.btn-custom2{
  height: 50px;
  width: 150px;
  color: var(--main) !important;
  border: 2px solid var(--main);
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}    

/* PAGINA CATEGORIE */
.categoria{
  border: var(--main);
  border-style: solid;
  background-color: #D1CFD0;
  color: var(--main);
}

/* LOG-IN*/

.bg-login{
  background-image: url("/media/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height:100vh;
  
}
    
/* PAGINA CREATE*/
.sfondo-create{
  background-color: var(--sec-bg);  
}
/* REVISOR HOME */
.bg-ann-revi{
  background-color: #d3d3d3;
}
.btn-elimina{
  background-color:red;
  border-radius: 5%;
  text-transform: capitalize;

}
.btn-accetta{
  background-color: green;
  border-radius: 5%;
  text-transform: capitalize;

}

/* SHOW */
.btn-indietro{
  border-radius: 4%;
  background-color: var(--main) ;
  color: #282d32;
  text-transform: capitalize;
}
.btn-indietro:hover{
  height: 40px;
  width: 135px;
  font-weight: bold;
  transition: 0.1s;
  cursor: pointer;
}

.dett-ann{
  background-color: var(--third);
}
.dett-ann:hover{
  color: var(--main);
  transition: 0.2s;
  cursor: default;
  
}


/* Section con contatori */

.vh-section-counter{
  min-height: 50vh;
}

.section-count{
  height: 27vh;
  background-color: var(--four);
  border-radius: 15px;
  box-shadow: 3px 3px 7px black;
  
}

@media  screen and (max-width:600px){
  .section-count{
      margin: 3vh 2vw;
  }
}

.img-custom1 {
  width: 150px;
  border: 8px solid var(--third);
  padding: 5px;
}

.counter-custom {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border-left: 5px solid var(--main);
  padding-left: 20px;

}

.border-counters{
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

/* Sezione Cards */







/* Timeline */

.resize-p{
  font-size: 13px;
}


.marg-time{
  margin-top: 20vh;
}


.bordo-time {
  border-left: 4px solid black;

}

.padding-timeline {
  padding-left: 2vw;
  position: relative;
  }

.pseudo-time::before {
  content: '';
  position: absolute;
  border: 4px solid var(--main);

  background-color: var(--sec);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  left: -13px;
}

.pos.relative {
  position: relative;
}

.min-vh-100{
  min-height: 50vh;
}

.hover-img{
  box-shadow: 2px 2px 5px black;
}

.hover-img:hover{
  transform: scale(1.2);
}

  /* <============== FOOTER ===============>  */

  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  /*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.2353ms linear infinite;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #FFE505 #FFE505 #8C96A7;
  border-radius: 50%;
  border-width: 6px;
}


.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #8C96A7;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #8C96A7;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}




  